<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>language</servlet-name>
    <servlet-class>Servlet.LanguageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>language</servlet-name>
    <url-pattern>/LanguageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageRequestServlet</servlet-name>
    <servlet-class> Servlet.ImageRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageRequestServlet</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createDutchAuctionServlet</servlet-name>
    <servlet-class>Servlet.CreateDutchAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createDutchAuctionServlet</servlet-name>
    <url-pattern>/CreateDutchAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createEnglishAuction</servlet-name>
    <servlet-class>Servlet.CreateEnglishAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createEnglishAuction</servlet-name>
    <url-pattern>/CreateEnglishAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>englishAuction</servlet-name>
    <servlet-class>Servlet.EnglishAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>englishAuction</servlet-name>
    <url-pattern>/EnglishAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dutchAuction</servlet-name>
    <servlet-class>Servlet.DutchAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dutchAuction</servlet-name>
    <url-pattern>/DutchAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>auctionList</servlet-name>
    <servlet-class>Servlet.AuctionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auctionList</servlet-name>
    <url-pattern>/AuctionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminViewAuctionList</servlet-name>
    <servlet-class>Servlet.AdminViewAuctionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminViewAuctionList</servlet-name>
    <url-pattern>/AdminViewAuctionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>approveEnglishAuctionServlet</servlet-name>
    <servlet-class>Servlet.ApproveEnglishAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveEnglishAuctionServlet</servlet-name>
    <url-pattern>/ApproveEnglishAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>approveDutchAuctionServlet</servlet-name>
    <servlet-class>Servlet.ApproveDutchAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveDutchAuctionServlet</servlet-name>
    <url-pattern>/ApproveDutchAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bidServlet</servlet-name>
    <servlet-class>Servlet.BidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bidServlet</servlet-name>
    <url-pattern>/BidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rejectEnglishAuctionServlet</servlet-name>
    <servlet-class>Servlet.RejectEnglishAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rejectEnglishAuctionServlet</servlet-name>
    <url-pattern>/RejectEnglishAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rejectDutchAuctionServlet</servlet-name>
    <servlet-class>Servlet.RejectDutchAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rejectDutchAuctionServlet</servlet-name>
    <url-pattern>/RejectDutchAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>creditCardServlet</servlet-name>
    <servlet-class>Servlet.CreditCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>creditCardServlet</servlet-name>
    <url-pattern>/CreditCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>buyOutServlet</servlet-name>
    <url-pattern>/BuyOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>buyOutServlet</servlet-name>
    <servlet-class>Servlet.BuyOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dutchAuctionPriceCheckServlet</servlet-name>
    <url-pattern>/DutchAuctionPriceCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dutchAuctionPriceCheckServlet</servlet-name>
    <servlet-class>Servlet.DutchAuctionPriceCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailDispatcherServlet</servlet-name>
    <url-pattern>/MailDispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mailDispatcherServlet</servlet-name>
    <servlet-class>Servlet.MailDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBidServlet</servlet-name>
    <url-pattern>/UpdateBidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateBidServlet</servlet-name>
    <servlet-class>Servlet.UpdateBidServlet</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>